/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 3, 2022, 2:25:07 PM
    Author     : Tee Zhuo Xuan
*/
body {
    margin: 10px;
    background-color: rgb(16,27,44);}
.thisisclass{

    background-color: #0099ff;
    color: #ffff00;

}

.add-on-nav{
    margin-right: 50px;
}

.add-on-nav-link {
    padding-left: 10px;
    color: #ffff00;
}

@media only screen and (max-width: 600px) {
    .add-on-nav-link {
        padding-left: 10px;
        color: #ffff00;
    }
}